<div class="bgImgCenter">
    <div class="row justify-content-center center_title">
        <div class="card">
            <div class="card-header title_color">
                <h1 class="card-title">
                    <strong>Funciones administrativas</strong>
                </h1>
            </div>
        </div>
    </div>
    <div class="row justify-content-center centerdiv">
        <div class="card">
            <div class="card-header card_header_style_1">
                <h2 class="card-title">
                    Aprobacion de Tiendas
                </h2>
            </div>
            <div class="card-body card_body_style_1">
                <button type="button" class="btn btn-danger btn-block" (click)="verTiendas()">Ver Tiendas</button>
            </div>
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="card" >
            <div class="card-header card_header_style_1">
                <h2 class="card-title">
                    Crear departamento
                </h2>
            </div>
            <div class="card-body card_body_style_1">
                <button type="button" class="btn btn-danger btn-block" routerLink="/admin/department/create">Ingresar</button>
            </div>
        </div>

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="card" >
            <div class="card-header card_header_style_1">
                <h2 class="card-title">
                    Editar departamento
                </h2>
            </div>
            <div class="card-body card_body_style_1">
                <button type="button" class="btn btn-danger btn-block " routerLink="/admin/department/list">Ver departamento</button>
            </div>
        </div>

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="card" >
            <div class="card-header card_header_style_1">
                <h2 class="card-title">
                    Aprobación de pedidos
                </h2>
            </div>
            <div class="card-body card_body_style_1">
                <button type="button" class="btn btn-danger btn-block " routerLink="/admin/orders">Ver pedidos</button>
            </div>
        </div>
    </div>
</div>