/Varios/Java/Ver-Cursos-Ingenieria-Usac-master/nbproject/private/
/Varios/Java/Ver-Cursos-Ingenieria-Usac-master/build/
/Compiladores2/Proyecto1/nbproject/private/
/Compiladores2/Proyecto1/build/
/Compiladores2/Proyecto1/dist/
/Compiladores2/Prueba/nbproject/private/
/Compiladores2/Prueba/build/