<div class="FormLogin">
<h1>Sig in</h1>
<div>
   
<span>   
<H2>Email</H2>  
<mat-form-field appearance="fill" class="Txt">
        <input matInput >
</mat-form-field>
</span>  
    
</div>


<div>
<H2>Password</H2>    
<span>
<mat-form-field appearance="fill" class="Txt">
  <input matInput >
</mat-form-field>
</span>
</div >
<span class="btnSignIn"><button mat-raised-button (click)="Ingresar()" >Ingresar </button></span>
<span class="btnSignIn"><button mat-raised-button (click)="Regresar()" >Regresar</button></span>
<span class="btnSignIn"><button mat-raised-button (click)="Registrar()" >Registrar </button></span>
  
</div>