<div class="form">
<h1>Sig in</h1>
<div>
   
<span>   
<H2>Email</H2>  
<mat-form-field appearance="fill">
        <input matInput>
</mat-form-field>
</span>  
    
</div>


<div>
<H2>Password</H2>    
<span>
<mat-form-field appearance="fill">
  <input matInput>
</mat-form-field>
</span>
</div>
<span class="btnSignIn"><button mat-raised-button (click)="Ingresar()" color="primary">Ingresar </button></span>
<span class="btnSignIn"><button mat-raised-button (click)="Regresar()" color="primary">Regresar</button></span>
  
</div>