.btnSignIn{
    margin-right: 18%;
}
.Txt{
    width: 100%;
}
.FormLogin{
    color: black;
    margin-top: 10%;
    align-content: center;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}