
/* Structure */
table {
    width: 100%;
  }
  .center {
    text-align: center;
    
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .bgImgCenter {
    background-image: url('https://images.pexels.com/photos/264502/pexels-photo-264502.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #B9BEDB, white);
  }


  .centerdiv{
    width: 550px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24)
  }