.Hoja{
    color: white;
    background-color:  #9c64f7 ;
}
.Tallo{
    color: white;
    background-color:  #8137fa ;
}
.Contenedor{
    color: white;
}
.Elemento{
    color: white;
    background-color:  #7f0dff  ; 
}