<div class="Cuerpo">
<mat-toolbar color="primary" class="navbar">
    <div>       
    <span ><i>Alie-Sell</i></span>
    <span >Haciendo Algo</span>
    <span class="btnSignIn">
        <a routerLink="../login">
        <button mat-raised-button (click)="PonerLogin()" color="primary">Sign In</button>
        </a>
    </span>
    </div>
</mat-toolbar>
    
<div class="video">
        <video width="400" height="320" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
          </video> 
</div>


  
  

<footer class="Pie">
    <div class="PieContenido">
    <H2>Mision</H2>
    <p>
        NIDO NIDO NIDO
        NIDO NIDO NIDO
        NIDO NIDO NIDO
        NIDO NIDO NIDO
        NIDO NIDO NIDO
        NIDO NIDO NIDO
        NIDO NIDO NIDO
        NIDO NIDO NIDO
    </p>
    </div>
    <mat-divider color="primary"></mat-divider>
    <div class="PieContenido">
    <H2>Vision</H2>
    <p>
        NIDO NIDO NIDO
        NIDO NIDO NIDO
        NIDO NIDO NIDO
        NIDO NIDO 
    </p>
    </div>
    <mat-divider color="primary"></mat-divider>
    <div class="PieContenido">
    <H2>About Me</H2> 
    <p>
        NIDO NIDO NIDO
     
    </p>
    </div>
    <mat-divider color="primary"></mat-divider>
       
</footer>

</div>