<div class="row justify-content-center backgroud_product">
    <div class="col-sm-4 align-self-center"> 
        <div class="card">
            <div class="card-header header_color">
                <h1 class="card-title "><strong>Edición de producto</strong></h1>
                <!--Area de espaciado, se realizo para colocar el boton en la -->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <!--------------------------------------------------------------->
                <button class="btn btn-danger" (click)="deleteProduct()">Eliminar producto</button>
            </div>
            <form>
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Nombre" name="nombre" [(ngModel)]="name">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" placeholder="Precio" name="precio" [(ngModel)]="price">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-money-bill"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="file" class="form-control-file invisible" id="input_picture" (change)="insertImage($event)">
                            <button class="btn btn-block button_color_2" (click)="inputPicture()">Cambiar imagen de producto <span class="far fa-image"></span></button>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" placeholder="Cantidad" name="cantidad" [(ngModel)]="amount">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="material-icons">format_list_numbered_rtl</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <label>
                                <h3>Seleccione categoria:</h3>
                            </label>
                            &nbsp;&nbsp;
                            <select class="form-control" [(ngModel)]="select_option" [ngModelOptions]="{standalone: true}" (change)="capture_data()">
                                <option *ngFor="let category of categories_names">{{category.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Descripción" name="descripcion" [(ngModel)]="description">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="material-icons">description</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="container">
                        <div class="row justify-content-center" style="margin-bottom:10px;">
                            <button class="btn btn-block button_color_1" (click)="saveChanges()" >Guadar cambios</button>
                        </div>
                        <div class="row justify-content-center" style="margin-bottom:10px;">
                            <button class="btn btn-block btn-danger" routerLink="/AdminStore/MyProducts">Salir</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

