
<div class="row justify-content-center" style="background-image: url(https://images.pexels.com/photos/34577/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=750&w=1260); 
background-size: 100% 100%; background-repeat:no-repeat; padding-top: 6.5%; padding-bottom: 6%;">
    <div class="col-sm-4 align-self-center text-center"> 
        <div class="card card-primary">
            <div class="card-header">
                <h1 class="card-title "><strong>Login</strong></h1>
            </div>
            <!-- form start -->
            <form>
                <div class="card-body">
                    <div class="form-group">
                        <label for="idEmail">Correo Eléctronico</label>
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" placeholder="Correo" name="correo" [(ngModel)]="email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="idPassword">Contraseña</label>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" placeholder="Password" name="clave" [(ngModel)]="password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
     
                <div class="card-footer">
                    <div class="container">
                        <div class="row justify-content-center" style="margin-bottom:10px;">
                            <button type="submit" class="btn btn-success btn-block" (click)="verficarDatos()" routerLink="/login">Ingresar</button>
                        </div>
                        <div class="row justify-content-center" style="margin-bottom:10px;">
                            <button class="btn btn-block" style="background-color: #1f618d; color: white;" routerLink="/register">Registrar usuario</button>
                        </div>
                        <div class="row justify-content-center" style="margin-bottom:10px;">
                            <button class="btn btn-warning btn-block" style="background-color:#dc7633; color: white;" routerLink="/register/store">Registrar tienda</button>
                        </div>
                    </div>
                   
                </div>
            </form>
        </div>
    </div>
</div>